<%= form_with scope: :article, url: articles_path, local: true do |form| %>
<% if @article.errors.any? %>
<h3>Validation errors</h3>
<ul>
<% @article.errors.full_messages.each do |error| %>
<li> <%= error %> </li>
<% end %>
</ul>
<% end %>
<h1> Create an article </h1>
<div>
<%= form.label :title %> <br/>
<%= form.text_field :title %>
</div>
<div>
<%= form.label :description %><br/>
<%= form.text_area :description %>
</div>
<div>
<%= form.submit %> 
</div>
<% end %>