<div class="article-page">
  <div class="article-title mb-4 text-center title"> 
    <h1><%= @article.title %></h1>
     </div>
     <%= link_to "/users/#{@article.user_id}" do %>
  <div class="extra-details justify-content-center align-items-center">
    <div class="profile-img pr-1"> <%= gravatar_for @article.user, '-md' %> </div>
    <div class='extra-info text-secondary'>
      <div class="pr-2 pl-1 mb-1" >
      <span class="text-success">@<%= @article.user.username %></span>
      <% if logged_in? %>
      <%= link_to check_following(@article.user, 'Following', 'Follow'),
       "/users/#{@article.user_id}/following",
        method: :post,
         class: "btn btn-sm border-dark text-dark ml-2 #{check_following(@article.user, 'following')} follow-btn",
         remote: true, onclick: "return false" %>
      <% end %>
      </div>
      <div>
        <span class="pl-1 pr-1"><%= Date.strptime(@article.created_at.to_s).to_formatted_s(:short) %></span>. 
        <span> <%= "#{@article.time_to_read} read" %></span>
      </div>
    </div>
  </div>
  <% end %>
  <% unless @article.image_url.to_s.empty? %>
    <div class="article-image-container" style="background: url(<%= @article.image_url.to_s %>) no-repeat center center; background-size: cover;">.</div>
  <% end %>
  <div class="article-body-container mt-5">
    <div class="article-body mb-5"><%= sanitize @article.article_body %> </div>
    <div class="reactions-section article-reactions-sec">
      <% if logged_in? %>
        <%= link_to(article_likes_path(@article.slug), method: 'post', remote: true) do %>
          <i class= '<%= "#{@article.liked_by(current_user) ? 'fas' : 'far'}" %> fa-heart' id="like-button" style="font-size: 25px; cursor: pointer" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <span class="like-count"><%= @article.likes.length %> </span> likes
      &nbsp
      <span id="comments-count ml-5"> <%= pluralize(@article.comments.count, 'comment') %> </span>
    </div>
    <div>
    <%= render 'comments/section' %>
    </div>
  </div>
</div>
