<div class="article-page">
<div class="article-title mb-4 text-center title"> <h1><%= @article.title %></h1> </div>
<div class="row justify-content-center">
 <div class="mx-2 text-secondary" ><%= "#{time_ago_in_words(@article.created_at)} ago" %> <%= @article.time_to_read %> </div> 
 <div class="mx-2 text-primary">By <%= @article.user.username %></div>
 </div>
<% unless @article.image_url.to_s.empty? %>
<div class="article-image-container" style="background: url(<%= @article.image_url.to_s %>) no-repeat center center; background-size: contain;">.</div>
<% end %>
<div class="article-body"><%= sanitize @article.article_body %></div>
</div>