<div class="profile-page" id="<%= "profile-for-current-user" if profile[:for_current_user]  %>" >
<div class="profile-container">
<div class="profile-img-container">
<label for="profile-img-upload" >
 <%= gravatar_for profile[:user] %>
</label>

<%= '<input type="file" id="profile-img-upload" accept="image/*">'.html_safe  if profile[:for_current_user] %>
<div class="mt-2">
<h4 class="my-0"><%= "@#{profile[:user].username}" %></h4>
<% unless profile[:for_current_user] || !show_following_badge %>
<div class="mb-1">
<span class="badge badge-light text-secondary">
<%= show_following_badge %>
</span>
</div>
<% end %>
</div>
<p class="text-secondary"><%= "Joined #{Date.strptime(profile[:user].created_at.to_s)}" %></p>
<% if profile[:for_current_user] %>
<button class="btn-dark btn-xs btn-sm-sm .small-xs profile-edit-btn">Edit your profile</button>
<% else %>
<p><%= profile[:user].bio %></p>
<%= link_to check_following(profile[:user], 'Following', 'Follow'), "/users/#{profile[:user].id}/following", method: :post, class: "btn btn-md border-dark text-dark #{check_following(profile[:user], 'following')} follow-btn", remote: true, onclick: "return false" %>
<% end %>
</div>
<div class="user-info-container">
<ul class="nav nav-tabs pt-0">
<% if profile[:for_current_user] %>
  <li class="nav-item">
    <a class="nav-link active" href="javascript:void(0)" data-content="profile-details" >My Profile</a>
  </li>
  <% end %>
  <li class="nav-item">
    <a class= "<%= profile[:for_current_user] ? 'nav-link' : 'nav-link active' %>" data-content="my-articles" href="javascript:void(0)">
    <%= if profile[:for_current_user]; "My" ; end %> Articles <span class="d-none d-md-inline"><%= "(#{profile[:user].articles.length})" %></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-content="followers" href="javascript:void(0)">Followers <span class="d-none d-md-inline"><%= "(#{profile[:user].followers.length})" %></span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" data-content="following" >Following <span class="d-none d-md-inline"><%= "(#{profile[:user].following.length})" %></span></a>
  </li>
</ul>
<div class="profile-tabs mt-4 mx-2">
<div class="tab-item" id="profile-details">
<div class="user-info d-md-flex mx-0">
<div id="user-fullname" class="col-md-6">
<span class="mr-4 text-secondary"><b>Name</b> </span>
 <span data-field="fullname" class="text-dark"><%= profile[:user].full_name || 'Update your name' %></span>
<input type='text' name="fullname" class="edit-input fullname"  value= "<%= profile[:user].full_name || 'Update your name' %>" required />
</div>
<div id="user-email" class="col-md-6" data-detail="email">
  <span class="mr-4 text-secondary"><b>Email</b> </span>
  <span class="text-dark text-bold"><%= profile[:user].email %></span></div>
</div>
<div class="user-info pl-4" id="user-bio">
  <span class="mr-4 text-secondary"><b>Bio</b> </span>
  <div data-field="bio"><%= "#{profile[:user].bio}" %> </div>
  <div class="edit-input">
    <textarea name="bio" class="bio" required> <%= "#{profile[:user].bio}" %> </textarea>
  </div>
</div>
<div class="update-buttons">
  <button class="save-btn btn btn-dark"> Save </button> <button class="cancel-btn btn btn-light">Cancel</button>
</div>
</div>
<div class="tab-item" id="followers" >
  <% profile[:user].followers.each do |user| %>
    <%= render 'user_cards', user: user %>
  <% end %>
</div>
<div class="tab-item" id="following">
  <% profile[:user].following.each do |user| %>
    <%= render 'user_cards', user: user %>
  <% end %>
</div>
<div class="tab-item" id="my-articles">
  <% profile[:user].articles.each do |article| %>
    <div class="user-article-cards">
      <div class="article-img" >
        <%= link_to article_path(article.slug) do %>
          <%= image_tag image_url(article) %>
        </div>
      <% end %>
      <div class="article-content">
        <%= link_to article_path(article.slug) do %>
          <div class="user-article-title">
          <h5 class="text-dark d-sm-none"><%= article.title.truncate(60) %></h5>
        <h5 class="text-dark d-none d-sm-block"><%= article.title.truncate(80) %></h5>
          </div>
          <div class="user-article-body d-none d-md-block">
            <%= sanitize article.article_body.gsub(/(<.+?>)|(<.+?\/>)/, '').truncate(200) %>
          </div>
        <% end %>
        <div class="row text-secondary mt-3">
          <div class="additional-details col-8 col-md-10">
            <span><small><%= Date.strptime(article.created_at.to_s) %> </small></span>
          </div>
          <% if profile[:for_current_user] %>
            <div class="user-article-buttons col-4 col-md-2">
              <%= link_to '<i class="far fa-edit mr-2" title="edit"></i>'.html_safe , edit_article_path(article.slug) %>
              <%= link_to '<i class="fa fa-trash" aria-hidden="true" title="delete"></i>'.html_safe, article_path(article.id), method: 'delete', data: {confirm: "Are you sure you want to delete this article?"} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
</div>
</div>
</div>
</div>
