<%= link_to "/users/#{user.id}" do %>
  <div class="user-card">
    <div class="profile-details-cont">
      <div class="profile-img-cont mr-1 mr-md-3">
        <%= gravatar_for user, '-user-card' %>
      </div>
      <div class= "user-detail">
        <p class="my-1">
          <span class="text-dark font-weight-bold"><%= "@#{user.username}" %></span>
          <span class="badge badge-light text-secondary">
            <%= show_following_badge %>
          </span>
        </p>
        <p class="mb-1 text-secondary"><%= user.bio&.truncate(40) %></p>
      </div>
    </div>
    <% unless user == current_user %>
    <div class="follow-btn-container" >
      <%= link_to check_following(user, 'Following', 'Follow'), "/users/#{user.id}/following", method: :post, class: "btn btn-sm border-dark text-dark #{check_following(user, 'following')} follow-btn", remote: true, onclick: "return false" %>
    </div>
    <% end %>
  </div>
<% end %>
