<%# <%= link_to 'All articles', articles_path %>
<%# <%= link_to "About", about_path %>
<% if @articles.any? %>
  <div class="articles-section">
    <div class="selected-articles-sec row my-4">
      <div class="top-article pr-5">
        <h2 class="mb-4">Top Article</h2>
        <%= render 'layouts/article_card', article: @top_articles[0], truncValue: {article_body: 400, article_title: 60} %>
      </div>
      <div class="border my-5">
      </div>
      <div class="popular-articles py-5 pl-5 mr-0 pr-0">
        <h5 class="mb-3">Popular articles</h5>
        <% @most_liked_articles.take(6).each do |article| %>
          <%= link_to article_path(article.slug) do %>
            <hr>
            <div class="mb-3">
              <h6><%= article.title%></h6>
              <small><span class="text-success">@<%= article.user.username %></span></small>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if logged_in? %>
      <% if @articles_by_people_you_follow %>
        <hr>
        <h3>By people you follow</h3>
        <hr>
        <div class="personalised-articles my-4">
          <% @articles_by_people_you_follow.each do |article| %>
            <%= render 'layouts/article_card', article: article, truncValue: {article_body: 250, article_title: 60} %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if !logged_in? %>
      <%= render 'layouts/banner' %>
    <% end %>
      <hr>
      <h3>Featured Articles</h3>
      <hr>
      <div class="featured-articles my-4">
        <% @featured_articles.sample(6).each do |article| %>
          <%= render 'layouts/article_card', article: article, truncValue: {article_body: 120, article_title: 40} %>
        <% end %>
      </div>
    </div>
<% end %>
