<div class='article-card'>
  <%= link_to article_path(article.slug) do %>
    <div class='article-card-image-container mb-3' ><%= image_tag(article.image_url.present? ? article.image_url.to_s : 'Blog.jpg', class: "article-img") %></div>
    <div class='article-card-title mb-1 text-dark'> <%= article.title.truncate(truncValue[:article_title]) %> </div>
    <div class='article-card-body mt-1'><%= sanitize article.article_body.gsub(/(<.+?>)|(<.+?\/>)/, '').truncate(truncValue[:article_body]) %> </div>
  <% end %>
  <div class="extra-details mt-2">
    <%= link_to !logged_in? ?  nil : article.user == current_user ? profile_path : "/users/#{article.user.id}" do%>
      <div class="profile-img pr-1"> <%= gravatar_for article.user, '-sm' %> </div>
      <div class='extra-info text-secondary'>
        <div class="pr-2 pl-1" ><span class="text-success">@<%= article.user.username %></span></div>
        <div>
        <% end %>
        <span class="pl-1 pr-1"><%= Date.strptime(article.created_at.to_s).to_formatted_s(:short) %></span>. 
        <span> <%= "#{article.time_to_read} read" %></span>
      </div>
    </div>
  </div>
</div>
