<div class="nav-header-cont">
<nav class="header">
  <div class="nav-container" >
    <div class="row justify-content-between align-items-center">
    <div class="hamburger col-2 d-md-none"> <a href="javascript:void(0)"><i class="fas fa-bars"></i></a> </div>
      <div class="col-6 col-md-5 text-center text-md-left">
        <%= link_to '<span class="site-title">Ozone\'s blog</span>'.html_safe, root_path %>
      </div>
      <div class="col-5 d-none d-md-block">
        <div class="search-container">
          <%= form_tag("/articles/search", method: :get) do %>
            <%= text_field_tag :query, params[:query], placeholder: "Search..", type: "search" %>
            <button type="submit"><i class="fa fa-search"></i></button>
          <% end %>
        </div>
      </div>
      <div class="nav-item dropdown col-2">
        <% if logged_in? %>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= gravatar_for current_user, '-sm' %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="text-center text-success"><%= "Hi #{current_user.username}" %></div>
            <%= link_to 'My Profile', profile_path, class: "dropdown-item" %>
            <%= link_to 'Create Article', new_article_path, class: "dropdown-item" %>
            <%= link_to 'Log out', logout_path, method: :delete, class: "dropdown-item" %>
          </div>
        <% else %>
          <a href="javascript:void(0)" class="login-modal-trigger dropdown-toggle font-weight-bold"> Log In </a>
        <% end %>
      </div>
    </div>
  </nav>
  <%= render('layouts/navbar') unless url.match(/profile|users/) %>
  </div>
