<nav class="header pt-2">
  <div class="nav-container" >
    <div class="row align-items-center">
      <div class="row col-5 justify-content-start align-items-center">
        <div class="col">
          <%= link_to '<span class="site-title">Ozone\'s blog</span>'.html_safe, root_path %>
        </div>
        <div class="nav-item dropdown col">
          <a class="nav-link dropdown-toggle font-weight-bold float-left" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= if logged_in? and current_user.is_admin?; link_to('Create Category', new_category_path, class: "dropdown-item"); end %>
              <% Category.all.each do |category| %>
                <%= link_to category.name, category_path(category.id), class: "dropdown-item" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="search-container">
          <%= form_tag("/articles/search", method: :get) do %>
          <%= text_field_tag :query, params[:query], placeholder: "Search..", type: "search" %>
          <button type="submit"><i class="fa fa-search"></i></button>
          <% end %>
          </div>
        </div>
        <span class="nav-item dropdown col-2">
          <% if logged_in? %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= gravatar_for current_user, '-sm' %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="text-center text-primary"><%= current_user.username %></div>
              <%= link_to 'My Profile', profile_path, class: "dropdown-item" %>
              <%= link_to 'Create Article', new_article_path, class: "dropdown-item" %>
              <%= link_to 'Log out', logout_path, method: :delete, class: "dropdown-item" %>
            </div>
          <% else %>
            <a href="javascript:void(0)" class="login-modal-trigger dropdown-toggle font-weight-bold"> Log In </a>
          <% end %>
        </span>
      </div>
    </div>
  </nav>
