<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |name, msg| %>
  <% if msg.is_a?(Array) %>
   <ul>
   <% msg.each do |m| %>
   <li><%= m %></li>
   <% end %>
  </ul>
  <% else %>
  <%= msg %>
  <% end %>
  <% end %>
    <%= yield %>
  </body>
</html>
